<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
<link rel="stylesheet" href='{% static "bootstrap/css/bootstrap-theme.min.css" %}'>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
<script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>h1,h2,h3,h4,h5,p,div {font-family:Arial;},
    </style>
    {% include 'login_header.html' %}
</head>
<body>
{% block details %}{% endblock %}
{% include 'footer.html' %}
</body>
</html>